:root {
    --light: #EAEAEA;
    --light-accent: #CBC5EA;
    --default-content: #73628A;
    --accent-dark: #313D5A;
    --dark: #183642;
    --red: #B22222;
}

html, body {
    font-family: 'Dosis', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--light);
    background-color: var(--dark);
}

h1 {
    display: inline-block;
    font-size: 6rem;
    margin-bottom: 0;
    color: var(--light-accent);
}

h3 {
    font-size: 3rem;
    margin: 0;
}

wrapper {
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
    
    @media (max-width: 600px) {
        width: 100%;
    }
}

button {
    display: inline-block;
    background-color: var(--red);
    /* color: white; */
    /* color: var(--light); */
    color: inherit;
    font-family: inherit;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 5rem;
    margin: 5rem 0;
}

#status {
    margin: 0;
    font-size: 6rem;
}

/* hr {
    border-left: 8px dotted var(--light-accent);
    width: 80%;
    margin: auto;
} */